<div class="card m-lg-3 mx-sm-auto p-3 mb-5 col-lg-3 col-md-4 col-sm-12 position-relative border-primary shadow  bg-body-tertiary rounded">
    <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">Publié le {{offer.createdAt | date('d/m/Y') }} . <strong>{{offer.contract}}</strong> </h6>
        <h4 class="card-title">{{offer.name|capitalize}}</h4>
        <h6 class="card-subtitle mb-2 text-muted">
            Société : {{offer.company.name | capitalize }}
        </h6>
        <figure class="position-absolute top-50 rounded-circle rounded-circle p-1" style=" width: 4.5rem; height: 4.5rem; right: 10%; background-color:{{offer.company.color}}">
            <img class='rounded-circle' style="width: 100%; height: 100%; max-height: 250px; max-width: 250px; object-fit: contain" alt="Logo de {{offer.company.name}}" src="{% if vich_uploader_asset(offer.company, 'imageFile') %} {{vich_uploader_asset(offer.company, 'imageFile')}} {% else %} https://picsum.photos/id/{{offer.company.id}}/250/250 {% endif %}" >
        </figure>
        {# <img style="width: 4.5rem; height: 4.5rem; right: 10%; background-color:{{offer.company.color}}"  class="img-thumbnail position-absolute top-50 rounded-circle"  alt='Logo de {{offer.company.name}}'  src="{% if vich_uploader_asset(offer.company, 'imageFile') %} {{vich_uploader_asset(offer.company, 'imageFile')}} {% else %} https://picsum.photos/id/{{offer.company.id}}/250/250 {% endif %}"> #}
        <a href=" {{path('offer.show', {offer: offer.id})}} " class="card-link btn btn-primary p-1 mt-1">Détail</a>
    </div>
</div>


{# <div class="card col-lg-3 col-md-4 col-sm-12 p-3 mb-3 m-lg-2 mx-sm-auto border-{{ loop.index is odd ? 'dark' : 'primary' }}">
    <h3 class="card-header text-white bg-{{ loop.index is odd ? 'dark' : 'primary' }}" style="min-height: 85px;">{{ offer.name|capitalize }}</h3>

    <div class="card-body">
        <h5 class="card-title"> {{ offer.company.country }} </h5>
    </div>

    <img src=" {% if vich_uploader_asset(offer.company, 'imageFile') %} {{vich_uploader_asset(offer.company, 'imageFile')}} {% else %} https://picsum.photos/id/{{offer.company.id}}/300/200 {% endif %}" alt='societé {{offer.company.name}}'>

    <div class="card-body">
        <p class="card-text">
            {{offer.description|slice(0, 100)}}...
        </p>
    </div>

    <div class="card-body">
        <a href="{{path('offer.show', {offer: offer.id})}}" class="card-link btn btn-primary p-1 mt-1 ">Détail</a>
    </div>

    <div class="card-footer text-muted">
        Publié le {{offer.createdAt | date('d/m/Y') }}.{{offer.contract}}
    </div>
</div> #}

