{% set routeName = app.request.attributes.get('_route') %}
{% set isAllOffer = routeName in 'admin.offer.index' %}

<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col" class="text-center">Offre</th>
			<th scope="col" class="text-center">contrat</th>
			<th scope="col" class="text-center">Posté Le</th>
			{% if  ('ROLE_ADMIN' in app.user.roles) and (routeName in 'admin.offer.index') %}
				<th scope="col" class="text-center">Société</th>
			{% endif %}
			<th scope="col" class="text-center">Candidats</th>
			<th scope="col" class="text-center">Edité</th>
			<th scope="col" class="text-center">Supprimé</th>
		</tr>
	</thead>
	<tbody>
		{% for offer in offers %}
			<tr class="table-primary">
				<td scope="row" class="text-center">{{offer.name}}</td>
				<td scope="row" class="text-center">{{offer.contract}}</td>
				<td scope="row" class="text-center">{{offer.createdAt | date('d/m/Y')}}</td>
				{% if  'ROLE_ADMIN' not in app.user.roles %}
					<td scope="row" class="text-center">
						<a href="{{(offer.candidates|length == 0) ? "#" : path('offer.candidates.show', {offer: offer.id})}}" class="btn {{offer.candidates|length == 0 ? 'btn-secondary': 'btn-success'}} ">
							{{offer.candidates|length}}
						</a>
					</td>
					<td scope="row" class="text-center">
						<a href="{{path('offer.edit', {offer: offer.id})}}" class="btn btn-info">
							<i class="fa-solid fa-pencil"></i>
						</a>
					</td>
					<td scope="row" class="text-center">
						<button class="btn btn-danger delete-confirm" data-bs-toggle="modal" data-bs-target="#modalWindow{{offer.id}}">
							<i class="fa-solid fa-trash"></i>
						</button>
					</td>
					{% include 'partials/_modal.html.twig' with 
						{ 
							link: 'offer.delete',
							query: { 
										offer: offer.id, 
										count: offers|length, 
										idCompany : company.id 
									},
							id: offer.id
						}  
					%}
				{% else %}
					{% if routeName in 'admin.offer.index' %}
						<td scope="row" class="text-center">{{offer.company.name|capitalize}}</td>
					{% endif %}
					
					<td scope="row" class="text-center">
						<a href="{{(offer.candidates|length == 0 and 'ROLE_ADMIN' not in app.user.roles ) ? "#" : path('admin.offer.show', {offer: offer.id})}}" class="btn {{offer.candidates|length == 0 ? 'btn-secondary': 'btn-success'}} ">
							{{offer.candidates|length}}
						</a>
					</td>
					<td scope="row" class="text-center">
						<a href="{{path( 'admin.offer.update', {offer: offer.id, isAllOffer : 1} )}}" class="btn btn-info">
							<i class="fa-solid fa-pencil"></i>
						</a>
					</td>
					<td scope="row" class="text-center">
						<button class="btn btn-danger delete-confirm" data-bs-toggle="modal" data-bs-target="#modalWindow{{offer.id}}">
							<i class="fa-solid fa-trash"></i>
						</button>
					</td>
					{% include "partials/_modal.html.twig" with 
						{
							id: offer.id,
							link: 'admin.offer.delete', 
							query: { 
										offer: offer.id, 
										count: offers|length, 
										idCompany : offer.company.id, 
										isAllOffer : isAllOffer
									}
						} 
					%}
				{% endif %}
			</tr>
		{% endfor %}
	</tbody>
</table>

<div class="navigation d-flex justify-content-center mt-4">
	{{ knp_pagination_render(offers) }}
</div>
