<article>
    <div class="d-flex flex-sm-row flex-column-reverse justify-content-between align-items-center">
        <div>
            <h2 class="blog-post-title mb-1 text-capitalize">{{offer.name}}</h2>
            <span class="blog-post-meta mb-1">Créer le : <strong>{{offer.createdAt|date('d/m/y')}}</strong></span><br>
            <span class="blog-post-meta">Website :
                <a href="{{offer.url}}" target='_blank' class='' style="color : {{offer.company.color}};">
                    {{offer.url}}
                </a>
            </span>
            <span class="d-inline-block d-flex align-items-center flex-wrap">
                Localisation :
                <strong class="text-primary ms-1">{{offer.company.country|country_name}}</strong> 
                <strong class='ms-2' style='font-size: 1.5rem;'>{{offer.company.emojiCountry}}</strong> 
            </span>
            <h3 class="text-capitalize mt-2">Description :</h3>
            <p>{{offer.description}}</p>
        </div>
        <img class='rounded-circle mx-4 mb-4 mb-sm-0 img-thumbnail' style="height: 200px; width: 200px; object-fit: contain; background-color:{{offer.company.color}}" src=" {% if vich_uploader_asset(offer.company, 'imageFile') %} {{vich_uploader_asset(offer.company, 'imageFile')}} {% else %} https://picsum.photos/id/{{offer.company.id}}/250/250 {% endif %}" alt="Logo de {{offer.company.name}}">
    </div>
    <hr>

    {# PREREQUIS #}
    <h3 class='text-capitalize'>préréquis</h3>
    <p>
        {{offer.requirement.content}}
    </p>
    <ul>
        {% for requirementItems in offer.requirement.requirementItems %}
            <li class="text-text-capitalize">
                {{requirementItems}}
            </li>
        {% endfor %}
    </ul>

    {# ROLES #}
    <h3 class='text-capitalize'>Roles</h3>
    <p>
        {{offer.role.content}}
    </p>
    <ol>
        {% for roleItem in offer.role.roleItems %}
            <li>
                {{roleItem}}
            </li>
        {% endfor %}
    </ol>
</article>