{% extends 'base.html.twig' %}

{% block title %}Devjob - Modification du mot de passe
{% endblock %}

{% block body %}
	<main class="container d-flex flex-column justify-content-center">
		<h1 class="mt-4 px-4">Veuillez modifier votre mots de passe.</h1>

		{# flash messages #}
		{% include 'partials/_flash.html.twig' %}

		{{form_start(form)}}
            <div class="form-group password-registration mt-4 px-4">
                {{form_label(form.plainPassword.first, 'Mot de passe', {'label_attr': { 'class': 'form-label'} } )}}
                {{ form_widget(form.plainPassword.first, {'attr': {'placeholder': "********",  }}) }}
                <i class="fa-solid fa-eye"></i>
            </div>

            <div class="form-group password-registration mt-4 px-4">
                {{form_label(form.plainPassword.second, 'Confirmation du mot de passe', {'label_attr': { 'class': 'form-label'} } )}}
                {{ form_widget(form.plainPassword.second, {'attr': {'placeholder': "********",  }}) }}
                <i class="fa-solid fa-eye"></i>
            </div>

            <button type="submit" class="btn btn-primary m-4 ">
                Envoyer
            </button>
		{{form_end(form )}}
	</main>
{% endblock %}
