{% extends 'base.html.twig' %}

{% block title %}Devjob - My Offers
{% endblock %}

{% block body %}
	<main class="container mt-4">
		<h1>Mes offres</h1>

		<a href="{{path('offer.new', {'count' : offers.getTotalItemCount } )}}" class="btn btn-primary mt-4">Ajouter une offre</a>

		{# flash for success message #}
		{% for message in app.flashes('success') %}
			<div class="alert alert-success mt-4">
				{{ message }}
			</div>
		{% endfor %}

        {# flash for warning message #}
		{% for message in app.flashes('warning') %}
			<div class="alert alert-warning mt-4">
				{{ message }}
			</div>
		{% endfor %}

		{% if offers.items is  same as ([]) %}
			<h4 class='mt-4'>Vous n'avez pas encore saisi d'annonces</h4>
		{% else %}

			{# total items count #}
			<div class="count mt-4">
				<h5>il y'a
					{{ offers.getTotalItemCount }}
					offres au total</h5>
			</div>

			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col" class="text-center">Id</th>
						<th scope="col" class="text-center">Nom</th>
						<th scope="col" class="text-center">contrat</th>
						<th scope="col" class="text-center">Posté Le</th>
						<th scope="col" class="text-center">Detail</th>
						<th scope="col" class="text-center">Edité</th>
						<th scope="col" class="text-center">Supprimé</th>
					</tr>
				</thead>
				<tbody>
					{% for offer in offers %}
						<tr class="table-primary">
							<th scope="row" class="text-center">{{offer.id}}</th>
							<td scope="row" class="text-center">{{offer.name}}</td>
							<td scope="row" class="text-center">{{offer.contract}}</td>
							<td scope="row" class="text-center">{{offer.createdAt | date('d/m/Y')}}</td>
							<td scope="row" class="text-center">
								<a href="{{path('offer.show', {id: offer.id})}}" class="btn btn-success">
									<i class="fa-solid fa-magnifying-glass"></i>
								</a>
							</td>
							<td scope="row" class="text-center">
								<a href="{{path('offer.edit', {id: offer.id})}}" class="btn btn-info">
									<i class="fa-solid fa-pencil"></i>
								</a>
							</td>
							<td scope="row" class="text-center">
								<a href="{{path('offer.delete', { id: offer.id, 'count' : offers|length })}}" class="btn btn-danger delete-confirm" onclick="return window.confirm('Voulez vous vraiment supprimer cet ingrédient?')">
									<i class="fa-solid fa-trash"></i>
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			{# display navigation #}
			<div class="navigation d-flex justify-content-center mt-4">
				{{ knp_pagination_render(offers) }}
			</div>

		{% endif %}


	</main>
{% endblock %}
