{% extends "base.html.twig" %}

{% block title %}
	Devjob -
	{{editMode ? "Edit" : "Nouvelle"}}
	offre
{% endblock %}

{% block body %}
	<div class="container">

		<h1 class="mt-4">
			{{editMode ? "Édition" : "Création"}}
			d'une offre
		</h1>

		{# flash for warning message #}
		{% for message in app.flashes('warning') %}
			<div class="alert alert-warning mt-4">
				{{ message }}
			</div>
		{% endfor %}

		{# {'attr': {'novalidate': 'novalidate'}} #}

		{{ form_start(formOffer) }}

		{# Nom de l'offre #}
		{{form_label(formOffer.name, 'Nom', {'label_attr': { 'class': 'form-label mt-4 fw-bold text-primary-emphasis'} } )}}
		{{ form_widget(formOffer.name, {'attr': {'placeholder': "titre de l'offre", 'class' : 'border-0 border-bottom border-primary'   }}) }}

		{# Description de l'offre #}
		{{form_label(formOffer.description, 'Description', {'label_attr': { 'class': 'form-label mt-4 fw-bold text-primary-emphasis'} } )}}
		{{ form_widget(formOffer.description, { 'attr': { 'placeholder': "Description de l'offre", 'class' : 'border-0 border-bottom border-primary'  } } ) }}

		{# Type de contrat de l'offre #}
		{{form_label(formOffer.contract, 'Type de contrat', {'label_attr': { 'class': 'form-label mt-4 fw-bold text-primary-emphasis'} } )}}
		{{ form_widget(formOffer.contract, { 'attr': { 'class': 'form-select'  } } ) }}

		{# Url de l'offre #}
		{{form_label(formOffer.url, 'Url', {'label_attr': { 'class': 'form-label mt-4 fw-bold text-primary-emphasis '} } )}}
		{{ form_widget(formOffer.url, { 'attr': { 'placeholder': "Lien pour postuler à cette offre", 'class' : 'border-0 border-bottom border-primary'  } } ) }}
 

		<p class="mt-4 text-primary-emphasis fw-bold">Prérequis</p>
		<hr class="">

			{# RÉSUME DES PRÉREQUIS #}
			<div class="form-group">
				{{form_label(formOffer.requirement.content, 'Résumé', {'label_attr': { 'class': 'form-label'} } )}}
				{{ form_widget(formOffer.requirement.content, {'attr': {'placeholder': "Résumé  des prérequis", 'class' : 'border-0 border-bottom border-primary'   }}) }}
			</div>

			{# DÉTAILS DES PRÉREQUIS #}
			<div class="form-group mt-4">
				<div id="requirements-item" data-prototype="{{form_row(formOffer.requirement.requirementItems.vars.prototype) | e('html_attr') }}">
					{{form_row(formOffer.requirement.requirementItems )}}
					<span id='insert-form'></span>
					<button type="button" class="ajout-requirement-item btn btn-success mt-4">
						<i class="fa-solid fa-plus"></i>
					</button>
				</div>
			</div>


		<button type="submit" class='btn btn-primary mt-4'>
			{{editMode ? "Editer" : "Créer"}}
			mon offre
		</button>

		{{ form_end(formOffer) }}

	</div>
{% endblock %}

{% block javascripts %}
	<script src="{{asset('assets/js/collectiontype.js')}}"></script>
{% endblock %}
