{% extends "base.html.twig" %}

{% block title %}
	Devjob -
	{{editMode ? "Edit" : "Nouvelle"}}
	offre
{% endblock %}

{% block body %}
	<main class="container">

		{# flash messages #}	
		{% include 'partials/_flash.html.twig' %}

		<h1 class="mt-4">
			{{editMode ? "Édition" : "Création"}}
			d'une offre
		</h1>

		{{ form_start(formOffer) }}

		{# Nom de l'offre #}
		{{form_label(formOffer.name, 'Nom', {'label_attr': { 'class': 'form-label mt-4 fw-bold '} } )}}
		{{ form_widget(formOffer.name, {'attr': {'placeholder': "titre de l'offre"  }}) }}

		{# Description de l'offre #}
		{{form_label(formOffer.description, 'Description', {'label_attr': { 'class': 'form-label mt-4 fw-bold '} } )}}
		{{ form_widget(formOffer.description, { 'attr': { 'placeholder': "Description de l'offre" } } ) }}

		{# Type de contrat de l'offre #}
		{{form_label(formOffer.contract, 'Type de contrat', {'label_attr': { 'class': 'form-label mt-4 fw-bold '} } )}}
		{{ form_widget(formOffer.contract, { 'attr': { 'class': 'form-select'  } } ) }}

		{# Url de l'offre #}
		{{form_label(formOffer.url, 'Url', {'label_attr': { 'class': 'form-label mt-4 fw-bold'} } )}}
		{{ form_widget(formOffer.url, { 'attr': { 'placeholder': "http://"  } } ) }}


		<p class="mt-4 text-primary-emphasis fw-bold">Prérequis</p>
		<div
			class="border rounded-1 border-2 p-4">

			{# RÉSUME DES PRÉREQUIS #}
			<div class="form-group">
				{{form_label(formOffer.requirement.content, ' ', {'label_attr': { 'class': 'form-label'} } )}}
				{{ form_widget(formOffer.requirement.content, {'attr': {'placeholder': "Résumé  des prérequis", 'class' : 'border-0 border-bottom'   }}) }}
			</div>

			{# DÉTAILS DES PRÉREQUIS #}
			<div class="form-group mt-4">
				<div class="d-flex-column" id="requirements-item" data-prototype="{{form_row(formOffer.requirement.requirementItems.vars.prototype) | e('html_attr') }}">
					{{form_row(formOffer.requirement.requirementItems )}}
					<button type="button" class="ajout-requirement-item btn btn-success mt-4 ">
						<i class="fa-solid fa-plus"></i>
					</button>
				</div>
			</div>

		</div>

		<p class="mt-4 text-primary-emphasis fw-bold">Roles</p>
		<div
			class="border rounded-1 border-2 p-4">

			{# RÉSUME DES ROLES #}
			<div class="form-group">
				{{form_label(formOffer.role.content, ' ', {'label_attr': { 'class': 'form-label'} } )}}
				{{ form_widget(formOffer.role.content, {'attr': {'placeholder': "Résumé  des roles", 'class' : 'border-0 border-bottom '   }}) }}
			</div>

			{# DÉTAILS DES ROLES #}
			<div class="form-group mt-4">
				<div id="roles-item" data-prototype="{{form_row(formOffer.role.roleItems.vars.prototype) | e('html_attr') }}">
					{{form_row(formOffer.role.roleItems )}}
					<button type="button" class="ajout-role-item btn btn-success mt-4">
						<i class="fa-solid fa-plus"></i>
					</button>
				</div>
			</div>


		</div>


		<button type="submit" class='btn btn-primary mt-4'>
			{{editMode ? "Editer" : "Créer"}}
		</button>

		{{ form_end(formOffer) }}

	</main>
{% endblock %}

{% block javascripts %}
	<script src="{{asset('assets/js/collectiontype.js')}}"></script>
{% endblock %}
