{% extends "base.html.twig" %}


{% block title %}devjob -
	{{offer.name}}
{% endblock %}

{% block body %}

	<main class="container mt-4">
		<section class="">
			<h2 class="blog-post-title mb-1 text-capitalize">{{offer.name}}</h2>
			<p class="blog-post-meta">Créer le :{{offer.createdAt|date('d/m/y')}}</p>
			<p class="blog-post-meta">Url:
				<a href="{{offer.url}}" target='_blank' class='color-info'>
					{{offer.url}}
				</a>
			</p>

			<h3 class="text-capitalize">Description :</h3>
			<p>
				{{offer.description}}
			</p>
			<hr>

			{# PREREQUIS #}
			<h3 class='text-capitalize'>préréquis</h3>
			<p>
				{{offer.requirement.content}}
			</p>
			<ul>
				{% for requirementItems in offer.requirement.requirementItems %}
					<li class="text-text-capitalize">
						{{requirementItems}}
					</li>
				{% endfor %}
			</ul>

			{# ROLES #}
			<h3 class='text-capitalize'>Roles</h3>
			<p>
				{{offer.role.content}}
			</p>
			<ol>
				{% for roleItem in offer.role.roleItems %}
					<li>
						{{roleItem}}
					</li>
				{% endfor %}
			</ol>

			<a class="btn btn-primary btn-lg" href="{{path('candidate.apply', {id: offer.id} )}}" role="button">Candidater</a>
		</section>
	</main>

{% endblock %}
