{% extends "base.html.twig" %}

{% block title %}
	Devjob - {{offer.name}}
{% endblock %}

{% block body %}

	<main class="container mt-4">
		<section class="">
			<div class="d-flex flex-row justify-content-between align-items-center">
				<div>
					<h2 class="blog-post-title mb-1 text-capitalize">{{offer.name}}</h2>
					<p class="blog-post-meta">Créer le :{{offer.createdAt|date('d/m/y')}}</p>
					<p class="blog-post-meta">Website :
						<a href="{{offer.url}}" target='_blank' class='' style="color : {{offer.company.color}};">
							{{offer.url}}
						</a>
					</p>
					<h3 class="text-capitalize">Description :</h3>
					<p>
						{{offer.description}}
					</p>
				</div>

				<img class='rounded-circle mx-4' style="width: 100%; height: 100%; max-height: 200px; max-width: 200px; object-fit: contain " src=" {% if vich_uploader_asset(offer.company, 'imageFile') %} {{vich_uploader_asset(offer.company, 'imageFile')}} {% else %} https://picsum.photos/id/{{offer.id}}/250/250 {% endif %}" alt="Logo de {{offer.company.name}}">
			</div>
			<hr>

			{# PREREQUIS #}
			<h3 class='text-capitalize'>préréquis</h3>
			<p>
				{{offer.requirement.content}}
			</p>
			<ul>
				{% for requirementItems in offer.requirement.requirementItems %}
					<li class="text-text-capitalize">
						{{requirementItems}}
					</li>
				{% endfor %}
			</ul>

			{# ROLES #}
			<h3 class='text-capitalize'>Roles</h3>
			<p>
				{{offer.role.content}}
			</p>
			<ol>
				{% for roleItem in offer.role.roleItems %}
					<li>
						{{roleItem}}
					</li>
				{% endfor %}
			</ol>

			{% if not ( app.user )   %}
				<a class="btn btn-primary btn-lg" href="{{path('candidate.apply', {offer: offer.id , url: offer.url} )}}" role="button">Candidater</a>
			{% endif %}

			{% if (app.user and 'ROLE_ADMIN' in app.user.roles )  %}
				<hr>
				<h2 class="blog-post-title mb-1 text-capitalize">Candidatures</h2>
				<section>
				
					{# MESSAGE FLASH #}
					{% include 'partials/_flash.html.twig' %}

					<a href="{{path('admin.candidate.new', {'offer':offer.id , } )}}" class="btn btn-primary mt-4">Ajouter une candidat</a>

					{% if offer.candidates|length == 0 %}
						<h4 class='mt-4'>Cette offre n'a pas encore de candidatures.</h4>
					{% else %}
						{# total items count #}
						<div class="count mt-4">
							<h5>Cette offre à {{ offer.candidates|length }} candidatures au total</h5>
						</div>

						<table class="table table-hover">
							<thead>
								<tr>
									<th scope="col" class="text-center">Nom</th>
									<th scope="col" class="text-center">Prénom</th>
									<th scope="col" class="text-center">email</th>
									<th scope="col" class="text-center">Detail</th>
									<th scope="col" class="text-center">Edité</th>
									<th scope="col" class="text-center">Supprimé</th>
								</tr>
							</thead>
							<tbody>
								{% for candidate in offer.candidates %}
									<tr
										class="table-primary">
										<td scope="row" class="text-center">{{candidate.firstname}}</td>
										<td scope="row" class="text-center">{{candidate.lastname}}</td>
										<td scope="row" class="text-center">{{candidate.email}}</td>
										<td scope="row" class="text-center">
											<a href="{{ path('admin.candidate.show', {candidate: candidate.id, offer: offer.id, count: offer.candidates|length, idCompany : offer.company.id  })}}" class="btn btn-success">
												<i class="fa-solid fa-magnifying-glass"></i>
											</a>
										</td>
										<td scope="row" class="text-center">
											<a href="{{path('admin.candidate.edit', { candidate : candidate.id, offer: offer.id } )}}" class="btn btn-info">
												<i class="fa-solid fa-pencil"></i>
											</a>
										</td>
										<td scope="row" class="text-center">
											{% include "partials/_delete_form.html.twig" with 
												{
													link: 'admin.candidate.delete', 
													query: { candidate : candidate.id, offer: offer.id, count: offer.candidates|length, idCompany : offer.company.id  }, 
													id: candidate.id,
													message : 'Etes vous sur de vouloir supprimé ce candidat ?'
												} 
											%}
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					{% endif %}
				</section>

			{% endif %}

		</section>
	</main>

{% endblock %}
