{% extends "base.html.twig" %}

{% block body %}
	{{ form_start(form) }}

	{# RÉSUME DES PRÉREQUIS #}
	<div class="form-group mt-4">
		{{form_label(form.content, 'Prérequis', {'label_attr': { 'class': 'form-label'} } )}}
		{{ form_widget(form.content, {'attr': {'placeholder': "Résumé  des prérequis",  }}) }}
	</div>

    {# DÉTAILS DES PRÉREQUIS #}
	<div class="form-group mt-4">
		<div id="ingredients" data-prototype="{{form_row(form.requirementItem.vars.prototype) | e('html_attr') }}">
			{{form_row(form.requirementItem)}}
			<span id='insert-form'></span>
			<button type="button" class="ajout-ingredient btn btn-success mt-4">
				<i class="fa-solid fa-plus"></i>
			</button>
		</div>
	</div>

	{{ form_end(form, {render_rest: false}) }}
{% endblock %}

{% block javascripts %}
	<script src="{{asset('assets/js/collectiontype.js')}}"></script>
{% endblock %}
