{% extends "base.html.twig" %}


{% block title %}Candidaté{% endblock %}

{% block body %}
	<div
		class="container">

		{# flash messages #}	
		{% include 'partials/_flash.html.twig' %}

		<h1 class="mt-4 mx-4">Candidature pour le poste :
			{{offer.name|capitalize}}
		</h1>

		{{ form_start(form) }}

		<div class="form-group mt-4 px-4">
			{{form_label(form.firstname, 'Prénom *', {'label_attr': { 'class': 'form-label'} } )}}
			{{ form_widget(form.firstname, {'attr': {'placeholder': "Votre nom",   }}) }}
		</div>

		<div class="form-group mt-4 px-4">
			{{form_label(form.lastname, 'Nom *', {'label_attr': { 'class': 'form-label'} } )}}
			{{ form_widget(form.lastname, {'attr': {'placeholder': "Votre prénom",   }}) }}
		</div>

		<div class="form-group mt-4 px-4">
			{{form_label(form.email, 'Email *', {'label_attr': { 'class': 'form-label'} } )}}
			{{ form_widget(form.email, {'attr': {'placeholder': "devjob@candidate.fr",   }}) }}
		</div>

		<div class="form-group mt-4 px-4">
			{{form_label(form.telephone, 'Telephone *', {'label_attr': { 'class': 'form-label'} } )}}
			{{ form_widget(form.telephone, {'attr': {'placeholder': "00000000",   }}) }}
		</div>

		{% if not (app.user and 'ROLE_ADMIN' in app.user.roles) or not imageName %}
			<div class="form-group mt-4 px-4">
				{{form_label(form.imageFile, ' CV *', {'label_attr': { 'class': 'form-label'} } )}}
				{{ form_widget(form.imageFile, { 'attr': { 'class': 'd-flex'  } } ) }}
			</div>
		{% endif %}

		<div class="form-group mt-4 px-4">
			{{form_label(form.description, 'Motivations :', {'label_attr': { 'class': 'form-label'} } )}}
			{{ form_widget(form.description, {'attr': {'placeholder': "Quels sont vos motivations",   }}) }}
		</div>

		{% if app.user and 'ROLE_ADMIN' in app.user.roles %}
			<div class="form-group mt-4 mx-4">
				{{form_label(form.offer, 'Offres', {'label_attr': { 'class': 'form-label '} } )}}
				<div class="border d-flex flex-wrap p-2">
					{% for field in form.offer %}
						<div style="min-width: 10%;">
							{{ form_widget(field ) }}
						</div>
					{% endfor %}
				</div>
			</div>
		{% endif %}

		<button type="submit" class="btn btn-primary m-4 ">Postuler</button>

		{# Jeton CSRF #}
    	{{ form_row(form._token) }}

		{{ form_end(form, {render_rest: app.user and 'ROLE_ADMIN' in app.user.roles ? false : true } ) }}
	</div>
{% endblock %}
