{% extends "base.html.twig" %}

{% set offer = app.request.get('offer') %}

{% block title %}
	Devjob - Candidats pour l'offre{{offer.name}}
{% endblock %}

{% block body %}

	<main
		class="container mt-4">

		{# flash messages #}
		{% include 'partials/_flash.html.twig' %}

		{# Modal deleta confirmation #}
		{% include 'partials/_modal.html.twig'  %}

		<section>
			<h2 class="blog-post-title mb-1 text-capitalize"> Candidats de l'offre {{offer.name}} </h2>
			{% if candidates.items is  same as ([]) %}
				<h4 class='mt-4'>Vous n'avez pas encore reçus de candidatures Pour cette offre.</h4>
			{% else %}

				<div class="count mt-4">
					<h5>Il y'a {{ candidates.getTotalItemCount}} candidatures au total</h5>
				</div>

				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col" class="text-center">Nom</th>
							<th scope="col" class="text-center">Prénom</th>
							<th scope="col" class="text-center">email</th>
							<th scope="col" class="text-center">Detail</th>
							<th scope="col" class="text-center">CV</th>
						</tr>
					</thead>
					<tbody>
						{% for candidate in candidates  %}
							<tr class="table-primary">
								<td scope="row" class="text-center">{{candidate.firstname}}</td>
								<td scope="row" class="text-center">{{candidate.lastname}}</td>
								<td scope="row" class="text-center">{{candidate.email}}</td>
								<td scope="row" class="text-center">
									<a href="{{path('candidate.show', {candidate: candidate.id, offer: offer.id, candidates : candidates|length, page: candidates.getCurrentPageNumber } )}}" class="btn btn-success">
										<i class="fa-solid fa-magnifying-glass"></i>
									</a>
								</td>
								<td scope="row" class="text-center">
									<a href="{{ vich_uploader_asset(candidate, 'imageFile') }}" download class="btn btn-info">
										<i class="fa-solid fa-download"></i>
									</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>

				{# {{candidates.getCurrentPageNumber }} #}
				<div class="navigation d-flex justify-content-center mt-4">
					{{ knp_pagination_render(candidates) }}
				</div>

			{% endif %}

		</section>
	</main>

{% endblock %}
