{% extends 'base.html.twig' %}

{% block title %}Devjob - Administration
{% endblock %}

{% block body %}

	<main class="container mt-4">
		<h1>Les entreprises</h1>

		<a href="{{path('admin.society.new' )}}" class="btn btn-primary mt-4">Ajouter une entreprise</a>

		{# flash messages #}
		{% include 'partials/_flash.html.twig' %}

		{% if users.items is  same as ([]) %}
			<h4 class='mt-4'>Aucunes entreprises diponibles.</h4>
		{% else %}

			{# total items count #}
			<div class="count mt-4">
				<h5>
					{{ users.getTotalItemCount }}
					entreprise(s) disponibles(s)</h5>
			</div>

			<table class="table table-hover mt-4">
				<thead>
					<tr>
						{# <th scope="col" class="text-center">Id</th> #}
						<th scope="col" class="text-center">Société</th>
						<th scope="col" class="text-center">Contact</th>
						<th scope="col" class="text-center">Email</th>
						<th scope="col" class="text-center">Offres</th>
						<th scope="col" class="text-center">Edité</th>
						<th scope="col" class="text-center">Supprimé</th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}

						{% if 'ROLE_ADMIN' not in user.roles  %}
							<tr
								class=" {{user.isDeleted ? 'table-danger' : 'table-primary'}} ">
								{# <th scope="row" class="text-center">{{ loop.index }}</th> #}
								<td scope="row" class="text-center">{{ user.company.name }}</td>
								<td scope="row" class="text-center">{{ user.firstname ~ ' ' ~ user.lastname }}</td>
								<td scope="row" class="text-center">{{ user.email }}</td>
								<td scope="row" class="text-center">
									<a href="{{ path('admin.society.show', { name: user.company.name }) }}" class="btn {{user.company.offer|length == 0 ? 'btn-secondary': 'btn-success'}} ">
										{{user.company.offer|length}}
									</a>
								</td>
								<td scope="row" class="text-center">
									<a href="{{ path('admin.society.edit', { name: user.company.name}) }}" class="btn btn-info">
										<i class="fa-solid fa-pencil"></i>
									</a>
								</td>
								<td scope="row" class="text-center">
									<a href="{{path('admin.society.delete', { name: user.company.name , count: users|length } ) }}" class="btn btn-danger delete-confirm" onclick="return window.confirm('Voulez vous vraiment supprimer cette annonce ?')">
										<i class="fa-solid fa-trash"></i>
									</a>
								</td>
							</tr>
						{% endif %}

					{% endfor %}
				</tbody>
			</table>

			{# display navigation #}
			<div class="navigation d-flex justify-content-center mt-4">
				{{ knp_pagination_render(users) }}
			</div>

		{% endif %}


	</main>

{% endblock %}
